*.a
*.la
*.lo
*.o
.deps/
.libs/
Makefile
Makefile.in
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
doc/doxyfile
m4/
_configs.sed
aclocal.m4
include/rts2-config.h
lib/rts2db/account.cpp
lib/rts2db/accountset.cpp
lib/rts2db/appdb.cpp
lib/rts2db/augerset.cpp
lib/rts2db/camlist.cpp
lib/rts2db/devicedb.cpp
lib/rts2db/imageset.cpp
lib/rts2db/labellist.cpp
lib/rts2db/labels.cpp
lib/rts2db/messagedb.cpp
lib/rts2db/observation.cpp
lib/rts2db/observationset.cpp
lib/rts2db/plan.cpp
lib/rts2db/planset.cpp
lib/rts2db/queues.cpp
lib/rts2db/records.cpp
lib/rts2db/recordsavg.cpp
lib/rts2db/recvals.cpp
lib/rts2db/rts2count.cpp
lib/rts2db/rts2prop.cpp
lib/rts2db/sqlcolumn.cpp
lib/rts2db/sqlerror.cpp
lib/rts2db/sub_targets.cpp
lib/rts2db/target.cpp
lib/rts2db/target_auger.cpp
lib/rts2db/targetgrb.cpp
lib/rts2db/targetset.cpp
lib/rts2db/taruser.cpp
lib/rts2db/user.cpp
lib/rts2db/userset.cpp
lib/rts2fits/dbfilters.cpp
lib/rts2fits/imagedb.cpp
lib/rts2scheduler/schedobs.cpp
lib/rts2scheduler/ticket.cpp
lib/rts2scheduler/ticketset.cpp
libtool
ltmain.sh
man/*.1
man/*.5
man/*.7
man/rts2.ent
missing
py-compile
rts2.initd
src/bb/bbdb.cpp
src/bb/rts2-bb
src/bckimages/bckimages.cpp
src/bckimages/deleteimage.cpp
src/bckimages/rts2-*
src/camd/rts2-camd-*
src/centrald/rts2-*
src/db/airmasscale.cpp
src/db/rts2-*
!src/db/rts2-imageinfo
src/dome/rts2-*
src/filterd/rts2-filterd-*
src/focusc/rts2-*
src/focusd/rts2-focusd-*
src/grb/conngrb.cpp
src/grb/connshooter.cpp
src/grb/rts2-*
src/httpd/rts2-*
src/httpd/stateeventsdb.cpp
src/httpd/valueeventsdb.cpp
src/logger/rts2-*
src/mirror/rts2-mirror-*
src/monitor/rts2-*
src/phot/rts2-*
src/plan/rts2-*
src/plan/rts2devcliphot.cpp
src/plan/selector.cpp
!src/plan/rts2-mkdirs
src/rotad/rts2-rotad-*
src/scheduler/rts2-scheduler
src/sensord/rts2-sensor-*
src/teld/rts2-*
stamp-h1
