language: python

dist: trusty

addons:
  apt:
    packages:
      python-numpy
      python-scipy
      python-pyfits
      python-matplotlib


matrix:
  include:
    - python: "3.4"
      env: BUILD_TYPE=spellcheck
      addons:
        apt:
          packages:
            &deps_aspell
            libcfitsio3-dev
            libnova-dev
            libncurses5-dev
            pkg-config
    - python: "3.5"
    - python: "3.6"
    - python: "2.7"
      addons:
        apt:
          packages:
            libc6-dev
            libtool
            libcfitsio3-dev
            libnova-dev
            libncurses5-dev
            libgraphicsmagick++1-dev
            libx11-dev
            dblatex
            docbook-xsl
            docbook-xsl-ns
            asciidoc
            libxml2-utils
            xsltproc
            libxml2-dev
            libarchive-dev
            libxt-dev
            libfftw3-dev
            gnuplot-x11
            libjson-glib-dev
            libsoup2.4-dev
            pkg-config
            postgresql-server-dev-all
            postgresql
            libecpg-dev
            wget
            check
      env: PKG_CONFIG_PATH=`pwd`/erfa-1.2.0/build/lib/pkgconfig
    - python: "2.7"
      addons:
        apt:
          packages:
            libc6-dev
            libtool
            libcfitsio3-dev
            libnova-dev
            libncurses5-dev
            libgraphicsmagick++1-dev
            libx11-dev
            dblatex
            docbook-xsl
            docbook-xsl-ns
            asciidoc
            libxml2-utils
            xsltproc
            libxml2-dev
            libarchive-dev
            libxt-dev
            libfftw3-dev
            gnuplot-x11
            libjson-glib-dev
            libsoup2.4-dev
            pkg-config
            postgresql-server-dev-all
            postgresql
            libecpg-dev
            wget
            check
      env: PKG_CONFIG_PATH=''

install:
  - pip install lmfit

script:
  - export RET_PYTHON_CHECK="x"
  - if [[ "x$BUILD_TYPE" == "xspellcheck" ]]; then (./autogen.sh && ./configure --without-pgsql && make && make spellcheck && exit $?); fi
  - cd checks && for x in check_python*; do ./$x; if [[ $? != 0 ]]; then RET_PYTHON_CHECK=$x; fi; done && cd ..
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then (wget https://github.com/liberfa/erfa/archive/v1.2.0.tar.gz && tar xzf v1.2.0.tar.gz && cd erfa-1.2.0/ && ./bootstrap.sh && ./configure --prefix=`pwd`/build && make install && cd .. && ./autogen.sh && ./configure && make && make check || (cat checks/test-suite.log && false)); fi
  - if [[ "x$RET_PYTHON_CHECK" != "xx" ]]; then echo "failed " $RET_PYTHON_CHECK; exit 1; fi
