tr {
    border: 0;
}

td {
    background: white;
    padding: 5pt;
}

td.even {
    background: #E0E0E0;
    text-align: middle;
}

td.odd {
    background: #F0F0F0;
    border: 1;
    text-align: middle;
}

td.head {
    background: #A0A0A0;
}

body {
	background: white;
	font-family: "Times New Roman", times, TimesNew, serif;
}

.hlavninadpis {
	font-family : Arial, Helvetica, sans-serif;
        font-size : 18pt;
	color : black;
}

.hlavninadpislogo {
	font-family: "Times", times, TimesNew, serif;
	font-size: 28pt;
	color : black;
	margin: 0;
	margin-bottom: 0.5ex;
}

.vedlejsinadpislogo {
	font-family: "Times", times, TimesNew, serif;
	font-size: 12pt;
	color : black;
	margin: 0;
}

.nadpisvtextu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	margin-top: 1.5ex;
	margin-bottom: 0.5ex;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.hlavnitabulka {
		width: 85%;
}

p {
    text-align: justify;
    text-indent: 2em;
    margin: 0.5ex;
}

.popisobrazku {
	font-family: "Times", times, TimesNew, serif;
	font-size: 14pt;
	color: black;
	margin: 0;
	font-seize:
}

div.error {
	background-color: red;
	font-weight:bold;
	padding: 4px 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: black;
}

